$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-UltraLight') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'DINAlternateMedium';
    src: url('../fonts/DIN-Alternate-Medium') format('opentype');
    font-weight: 400;
    font-style: normal;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: Montserrat;
}

h1 {
  font-family: Montserrat;
  font-weight: bold;
  color: #1F2532;
}
h2 {
  font-family: Montserrat;
  color: #1F2532;
}
h3 {
  font-family: DINAlternateMedium;
  color: #1F2532;
}
h4 {
  font-family: DINAlternateMedium;
  color: #1F2532;
}

.button-1{
  font-family: DINAlternateMedium;
  color: #1F2532;
  background: #E85B0E;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.button-2{
  font-family: DINAlternateMedium;
  color: #1F2532;
  background: #4A90E2;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}


/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  .navbar{
    background: #1F2532;
    margin-bottom: 0;
    border: none;
    border-radius: none;
  }
  .navbar-brand{
    padding: 7px;
    img{
      float: left;
    }
    h1{
      color: white !important;
      float: left;
      font-size: 13px;
      padding: 0;
      margin: 5px;
      line-height: 25px;
      text-transform: uppercase;
    }
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
