

<div class="row">
  <h1 class="title">POKÉDEX</h1>

  <ul 
    class="pokemon-list" 
    infinite-scroll="getMore()"
    infinite-scroll-disabled="blockInfiniteScroll"
  >
    <li 
      class="pokemon-preview" 
      ng-repeat="pokemon in pokemons | orderBy: 'id' | limitTo: quantity"
      pokemon-data-from-server-getter
    >
      <a ng-href="#/pokemon/{{pokemon.id}}/{{pokemon.name}}">
        <p>#{{pokemon.id}} <b>{{pokemon.name}}</b></p>
        <div class="img-cnt">
          <img 
            ng-src="images/{{pokemon.id}}.png" 
            onerror='this.style.display = "none"' 
          />
        </div>
        <div class="types-cnt">
          <div 
            ng-show="pokemon.types[0]" 
            class="type" 
            ng-class="pokemon.types[0].name"
          >
            {{pokemon.types[0].name}}
          </div>
          <div 
            ng-show="pokemon.types[1]"
            class="type" 
            ng-class="pokemon.types[1].name"
          >
            {{pokemon.types[1].name}}
          </div>
        </div>
      </a>
      <!-- <pre>{{pokemon |json}}</pre> -->
    </li>
  </ul>

  <div ng-show="blockInfiniteScroll" class="row" style="margin: 60px 0;">
    <div class="col-sm-2 col-sm-offset-5">
      <div class="button-2" ng-click="getMore()">LOAD MORE</div>
    </div>
  </div>

<!--   <pre>{{pokemons |json}}</pre> -->

</div>
