<div class="row top-pokemon-navigator">
	<a ng-show="previousPokemon" ng-href="#/pokemon/{{previousPokemon.id}}/{{previousPokemon.name}}">
		<span class="id"># {{previousPokemon.id}}</span>
		<b>{{previousPokemon.name}}</b>
	</a>
	<a class="pull-right" ng-href="#/pokemon/{{nextPokemon.id}}/{{nextPokemon.name}}">
		<b>{{nextPokemon.name}}</b> 
		<span class="id"># {{nextPokemon.id}}</span>
	</a>
</div>

<h1 class="text-center pokemon-page-name">
	{{currentPokemon.name}}
</h1>

<div class="pokemon-info">
	<div class="left-col">
	    <div 
	      class="pokemon-main" 
	    >
	        <div class="img-cnt">
	          <img 
	            ng-src="images/{{currentPokemon.id}}.png" 
	            onerror='this.style.display = "none"' 
	          />
	        </div>
	        <div class="types-cnt">
	          <div 
	            ng-show="currentPokemon.types[0]" 
	            class="type" 
	            ng-class="currentPokemon.types[0].name"
	          >
	            {{currentPokemon.types[0].name}}
	          </div>
	          <div 
	            ng-show="currentPokemon.types[1]"
	            class="type" 
	            ng-class="currentPokemon.types[1].name"
	          >
	            {{currentPokemon.types[1].name}}
	          </div>
	        </div>
	    </div>

		<div class="pokemon-description">
			{{currentPokemon.description}}
		</div>
	</div>
	<div class="right-col">
		<div class="pokemon-specs">
			<div class="spec">
				<div class="spec-title">Height</div>
				<div class="spec-data">{{currentPokemon.height/10}} m</div>
			</div>
			<div class="spec">
				<div class="spec-title">Category</div>
				<div class="spec-data">?</div>
			</div>
			<div class="spec">
				<div class="spec-title">Weight</div>
				<div class="spec-data">{{currentPokemon.weight/10}} kg</div>
			</div>
			<div class="spec">
				<div class="spec-title">Abilities</div>
				<div class="spec-data">{{currentPokemon.abilities[0].name}}</div>
			</div>
			<div class="spec">
				<div class="spec-title">Gender (M/F)</div>
				<div class="spec-data">{{currentPokemon.male_female_ratio}}</div>
			</div>
		</div>
		<div class="pokemon-stats">
			<h2>Base Stats</h2>

			<div class="stat-col-cntn">
				<div class="stat-col">
					<div 
						class="stat-col-fill" 
						ng-style="{
							'height': currentPokemon.statistics.hp 
						}"
					></div>
				</div>
				<div class="stat-name">
					HP
				</div>
			</div>
			<div class="stat-col-cntn">
				<div class="stat-col">
					<div 
						class="stat-col-fill" 
						ng-style="{
							'height': currentPokemon.statistics.attack 
						}"
					></div>
				</div>
				<div class="stat-name">
					Attack
				</div>
			</div>
			<div class="stat-col-cntn">
				<div class="stat-col">
					<div 
						class="stat-col-fill" 
						ng-style="{
							'height': currentPokemon.statistics.defense 
						}"
					></div>
				</div>
				<div class="stat-name">
					Defense
				</div>
			</div>
			<div class="stat-col-cntn">
				<div class="stat-col">
					<div 
						class="stat-col-fill" 
						ng-style="{
							'height': currentPokemon.statistics.sp_atk 
						}"
					></div>
				</div>
				<div class="stat-name">
					Special Attack
				</div>
			</div>
			<div class="stat-col-cntn">
				<div class="stat-col">
					<div 
						class="stat-col-fill" 
						ng-style="{
							'height': currentPokemon.statistics.sp_def 
						}"
					></div>
				</div>
				<div class="stat-name">
					Special Defense
				</div>
			</div>
			<div class="stat-col-cntn">
				<div class="stat-col">
					<div 
						class="stat-col-fill" 
						ng-style="{
							'height': currentPokemon.statistics.speed 
						}"
					></div>
				</div>
				<div class="stat-name">
					Speed
				</div>
			</div>


		</div>
	</div>
</div>

<div class="moves-cntn">

	<h2>Moves</h2>

	<ul class="moves-list">
		<li ng-repeat="move in currentPokemon.moves">
			{{move.name}}
		</li>
	</ul>

</div>

<div class="row" style="margin: 60px 0;">
	<div class="col-sm-4 col-sm-offset-4 text-center">
		<a 
			class="button-1" 
			ng-click="getMore()"
			href="/#/"
		>EXPLORE MORE POKEMON</a>
	</div>
</div>

